@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

a:focus {
  outline: thin dotted;
}
a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "“" "”" "‘" "’";
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix {
  zoom: 1;
}
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html {
  font-family: sans-serif;
  line-height: 1;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-image: url("../images/bg_html.jpg");
}

.wrap {
  width: 940px;
  margin: 0 auto;
}

.header {
  position: relative;
  height: 115px;
  margin-bottom: 35px;
}
.header h1 a {
  display: block;
  background: url("../images/logo.png");
  width: 171px;
  height: 81px;
  position: absolute;
  top: 20px;
  left: 10px;
}

.topbar {
  position: absolute;
  right: 0px;
  top: 15px;
}
.topbar a {
  float: left;
  margin-left: 15px;
}
.topbar .fb {
  display: block;
  background: url("../images/dot_facebook.png");
  width: 23px;
  height: 23px;
}
.topbar .tweet {
  display: block;
  background: url("../images/dot_tweet.png");
  width: 23px;
  height: 23px;
}

.menu {
  position: absolute;
  bottom: 0;
  right: 15px;
}
.menu h2 {
  display: none;
}
.menu li {
  float: left;
}
.menu a {
  display: block;
  margin-left: 35px;
  color: #292929;
}
.menu a:hover {
  color: #01a5ca;
}

.slider-left {
  float: left;
  width: 640px;
}

.slider-right {
  float: left;
  width: 300px;
  height: 415px;
  background: #292929;
}
.slider-right h2 {
  color: #01a5ca;
  margin: 45px 0 0 45px;
  font-size: 40px;
}
.slider-right div {
  margin: 24px 50px 0 45px;
}
.slider-right div p {
  color: #ababab;
  line-height: 28px;
}
.slider-right a {
  display: block;
  margin: 24px 0 0 45px;
  width: 98px;
  color: #ffffff;
  background: #3f3f3f;
  padding: 17px;
}
.slider-right a:hover {
  color: #01a5ca;
}

.centerContent {
  width: 940px;
  position: absolute;
  background: #ffffff;
  top: 600px;
}
.centerContent p {
  margin: 31px 46px 31px 46px;
  line-height: 28px;
  color: #292929;
}
.centerContent em {
  color: #01a5ca;
}

.serviceBlock {
  width: 940px;
  top: 795px;
  background: #ffffff;
  position: absolute;
  font-size: 14px;
  color: #292929;
}
.serviceBlock .serviceBlock-left {
  width: 640px;
  float: left;
}
.serviceBlock .serviceBlock-left h2 {
  font-size: 32px;
  margin: 35px 0 18px 45px;
  color: #292929;
}
.serviceBlock .serviceBlock-left h2 em {
  color: #01a5ca;
}
.serviceBlock .serviceBlock-left .content {
  margin: 0px 0px 30px 45px;
  width: 640px;
  height: 150px;
}
.serviceBlock .serviceBlock-left .content .imgBg {
  float: left;
  background: #f4f4f4;
  width: 195px;
}
.serviceBlock .serviceBlock-left .content .imgBg img {
  padding: 5px;
}
.serviceBlock .serviceBlock-left .content .text-right {
  float: left;
  width: 320px;
  margin-left: 30px;
  margin-right: 50px;
  line-height: 22px;
}
.serviceBlock .serviceBlock-left .content .text-right em {
  font-weight: bolder;
  color: #000;
}
.serviceBlock .serviceBlock-right {
  width: 300px;
  float: left;
}
.serviceBlock .serviceBlock-right h2 {
  font-size: 32px;
  margin: 35px 0 14px;
}
.serviceBlock .serviceBlock-right h2 em {
  color: #01a5ca;
}
.serviceBlock .serviceBlock-right ul {
  margin-left: 14px;
  line-height: 2.2em;
}
.serviceBlock .serviceBlock-right li {
  list-style-image: url("../images/icon_03.png");
}
.serviceBlock .serviceBlock-right input {
  width: 210px;
  height: 42px;
  font-size: 14px;
  padding-left: 15px;
}
.serviceBlock .serviceBlock-right input ::-webkit-input-placeholder {
  color: #cfcfcf;
}
.serviceBlock .serviceBlock-right button {
  width: 108px;
  height: 42px;
  margin-top: 15px;
  color: #01a5ca;
  background-color: #f4f4f4;
  border-style: hidden;
}

footer {
  top: 1250px;
  position: absolute;
  text-align: center;
  width: 940px;
  line-height: 1.8em;
  padding-top: 36px;
  padding-bottom: 48px;
  color: #292929;
  font-size: xx-small;
}
footer em {
  color: #01a5ca;
}

/*# sourceMappingURL=all.css.map */
