body
	background: image-url('bg_html.jpg')
.wrap
	width: $width
	margin: 0 auto
.header
	position: relative
	height: 115px
	margin-bottom: 35px
	h1 a
		display: block
		+bg('logo.png')
		position: absolute
		top: 20px
		left: 10px
.topbar
	position: absolute
	right: 0px
	top: 15px
	a
		float: left
		margin-left: 15px
	.fb
		display: block
		+bg('dot_facebook.png')
	.tweet
		display: block
		+bg('dot_tweet.png')	
.menu
	position: absolute
	bottom: 0
	right: 15px
	h2
		display: none
	li
		float: left
	a
		display: block	
		margin-left: 35px
		color: $def-color
		&:hover
			color: $hot-color

